/*HEAD OF PAGE*/
html 
{
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

header 
{
  height:50px;
  background:#F0F0F0;
  border:1px solid #CCC;
  width: 100%;
  height: 100px;
  position: fixed;
}

ul.nav li
{   
  display: inline; 
  padding: 10px; 
  font-size: 24px;
  font-weight: lighter;
  color: black;
  font-family: 'Oswald', sans-serif;
  float: right;
  margin-top: 60px;
}

a 
{
  text-decoration: none;
}

a:link 
{ 
  color: black; 
} 

a:visited 
{ 
  color: black; 
} 

a:hover 
{ 
  color: black; 
  text-decoration: underline;
} 

a:active 
{ 
  color: black; 
}

/*END HEAD START BODY*/

#companyname 
{
  float: left;
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
  margin-top: 30px;
}

.bg1
{
  background-image: url(../images/team.jpg);
  -webkit-background-size: cover;
  width: 100%;
  height: 1000px;
  margin-bottom: 10px;
}

/*TEAM IMAGES*/

.clear
{
  clear: both;
}

.wrapperone
{
  width: 840px;
  height: 340px;
  margin: 0 auto;
  font-size: 19px;
  font-family: 'Oswald', sans-serif;
}

.box
{
  width: 280px;
  height:340px;
  text-align: center;
  float: left;
  display: inline-block;
}


.staff 
{
  width:270px;
  height: auto;
  margin-right: 10px;
  margin-bottom: 10px;

}

/*END BODY START FOOTER*/

footer 
{
  text-align: center;
  background:#F0F0F0;
  border:1px solid #CCC;
  width: 100%;
  height: 100px;
  box-sizing: border-box;
}

.design
{
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  margin-top: 50px;
  margin-left: 50px;
}

/*MEDIA SIZING */

@media screen and (min-width: 768px) and (max-width: 1024px){

 #companyname 
  {
    display: none;
  }
  ul.nav 
  {
    text-align: center;
  }

  ul.nav li 
  {
    float: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px){

  #companyname 
  {
    display: none;
  }

  ul.nav 
  {
    text-align: center;
  }

  ul.nav li 
  {
    float: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
  }

  .box
  {
    width:300px;
    height:360px;
    text-align: center;
    display: inline;
  }

  .staff 
  {
    width:300px;
    height: auto;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .wrapperone
  {
    width: 300px;
    height: 340px;
    margin: 0 auto;
    font-size: 19px;
    font-family: 'Oswald', sans-serif;
  }

}





